<ion-view view-title="">
  <ion-content scroll="false" drag-content="false">
    <h2 class="text-center" ng-class="{ 'slide-up': daily.toggleFlip, 'slide-back-down': daily.toggleClose == 'yes' }">{{ daily.today | date : 'EEEE, MMMM d' }}</h2>
    <div class="radial" ng-class="{ 'shrink': daily.toggleFlip, 'unshrink': daily.toggleClose == 'yes' }">
        <progress-arc
            size="200"
            stroke="#3bd3dd"
            stroke-width="20"
            complete="daily.dailyComplete || 0"
            counter-clockwise="false"
            background="#eee">
        </progress-arc>

        <progress-arc
            class="inner"
            size="160"
            stroke="#259dd9"
            stroke-width="10"
            complete="daily.rolloverComplete || 0"
            counter-clockwise="false">
        </progress-arc>

        <progress-arc
            class="inner two"
            size="140"
            stroke="#2575d9"
            stroke-width="5"
            complete="daily.secondaryRolloverComplete || 0"
            counter-clockwise="false">
        </progress-arc>

        <label class="current" ng-show="daily.todaysBudget || daily.todaysBudget == 0" ng-init="daily.toggleBounce = false" ng-class="{ 'skew-bounce': daily.toggleBounce }">${{ daily.todaysBudget / 100 | number:2 }}</label>
        <label class="daily" ng-show="daily.dailyBudget">/ ${{ daily.dailyBudget / 100 | number:2 }}</label>
    </div>
    <div class="flip-container" ng-class="{ 'flip': daily.toggleFlip }" ng-init="daily.toggleFlip = false;">
        <div class="flipper">
            <div class="front">
                <div class="padding" style="margin-top: 10px;">
                    <button class="button button-block button-calm button-outline" ng-click="daily.toggleFlip = !daily.toggleFlip; daily.toggleClose = false; focusMe = true; daily.toggleBounce = false;">Spend</button>
                </div>
            </div>
            <div class="back">
                <form ng-submit="spendMoney()">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <i class="icon ion-social-usd"></i>
                            <input type="tel" id="spend" placeholder="00.00" ng-blur="focusMe = false; daily.toggleFlip = !daily.toggleFlip; daily.toggleClose = 'yes'; spendMoney(spend.amount); spend.amount = '';" ng-model="spend.amount" ui-number-mask="2" ui-hide-group-sep focus-me="focusMe" />
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <div class="padding">
    <a class="button button-block button-energized button-outline" href="#/app/goals" ng-click="daily.toggleClose = false;">Goals</a>
</div>
  </ion-content>
</ion-view>
