<ion-view view-title="Budgie">
  <ion-content>
    <div id="daily" style="margin:20px 0 0 0" ng-click="changeMonthlyBudget()"></div>
    <div id="transactions" ng-show="transactions.length >= 0">
        <div class="row" ng-repeat="transaction in transactions.slice().reverse()">
            <div class="col col-67 col-offset-10">
                {{ transaction.label }}
            </div>
            <div class="col">
                ${{ transaction.amount / 100 | number:2 }}
            </div>
        </div>
        <div class="row">
            <div class="col col-67 col-offset-10">Total purchases</div>
            <div class="col">${{ getTotal() | number:2 }}</div>
        </div>
    </div>
  </ion-content>
</ion-view>
