<ion-view view-title="Submit Feedback">
  <ion-content>
    <div class="padding">
        Thank you for you interest in improving Budgie!  We listen to all feedback big and small.  The easiest way to reach the team is to text us at this number:
    </div>
    <div class="padding">
        <a class="button button-block button-calm button-outline" href="sms:1-415-964-0011">1-415-964-0111</a>
    </div>
    <div class="padding">
        If you prefer, you can also reach us by email:
    </div>
    <div class="padding">
        <a class="button button-block button-calm button-outline" href="mailto:gobudgie@gmail.com?subject=Budgie (Alpha) Feedback">gobudgie@gmail.com</a>
    </div>
  </ion-content>
</ion-view>
