<ion-view view-title="">
    <ion-content scroll="false" drag-content="false">
        <h2 class="text-center">Save Money</h2>
        <div class="row">
            <div class="radial small noanim nodelay">
                <progress-arc
                    size="125"
                    stroke="{{ goal.dailyComplete < 0 ? '#dd9b3b' : '#3bd3dd' }}"
                    stroke-width="15"
                    complete="goal.dailyComplete || 0"
                    counter-clockwise="false"
                    background="#eee">
                </progress-arc>

                <progress-arc
                    class="inner"
                    size="95"
                    stroke="#259dd9"
                    stroke-width="5"
                    complete="goal.rolloverComplete || 0"
                    counter-clockwise="false">
                </progress-arc>

                <progress-arc
                    class="inner two"
                    size="85"
                    stroke="#2575d9"
                    stroke-width="2.5"
                    complete="goal.secondaryRolloverComplete || 0"
                    counter-clockwise="false">
                </progress-arc>

                <label class="current" ng-show="goal.todaysBudget || goal.todaysBudget == 0">{{ goal.todaysBudgetDisplay }}</label>
            </div>

            <div class="radial small noanim nodelay" ng-click="changeBucketGoal()">
                <progress-arc
                    size="125"
                    stroke="#eec60d"
                    stroke-width="15"
                    complete="goal.goalComplete || 0"
                    counter-clockwise="false"
                    background="#eee">
                </progress-arc>

                <label class="current" ng-show="goal.bucketProgress || goal.bucketProgress == 0">{{ goal.bucketProgressDisplay }}</label>
            </div>
        </div>
        <div class="bucket-labels">
            <div class="row">
                    <div class="bucket-label">
                        Today's balance
                    </div>
                    <div class="bucket-label">
                        <span ng-click="changeBucketName()">
                            {{ goal.bucketName }}
                        </span>
                    </div>
            </div>
        </div>
        <div class="row" ng-show="goal.todaysBudget >= 0 && !goal.showTomorrowMessage">
            <div class="col">
                <div class="contribution text-center">{{ goal.amountDisplay }}</div>
            </div>
        </div>
        <form ng-submit="processForm()" ng-show="goal.todaysBudget >= 0 && !goal.showTomorrowMessage">
            <div class="row">
                <div class="col text-center">
                    <input type="range" style="border:none;-webkit-box-shadow:none;width:80%;margin:0 auto 30px auto;" class="form-control" min="0" max="{{ goal.maxBucketContribution }}" step="{{ goal.currency.sliderUnit }}" ng-change="updateSlider($event)" ng-model="goal.amount">
                </div>
            </div>
            <div class="padding">
                <input type="submit" class="button button-energized button-block button-outline" value="Save" />
            </div>
        </form>
        <div class="row" ng-show="goal.todaysBudget < 0">
            <div class="padding text-center">
                Bwraaak!  In just <strong>{{ goal.todaysBudget * -1 / goal.dailyBudget | number:2 }}</strong> days you can start saving!  Time to tip the scales!
            </div>
        </div>

        <div class="row" ng-show="goal.showTomorrowMessage">
            <div class="padding text-center">
                Bwraaak!  You'll be able to save more money tomorrow!
            </div>
        </div>
    </ion-content>
</ion-view>
