<ion-modal-view>
  <ion-header-bar></ion-header-bar>
  <ion-content scroll="false" drag-content="false" class="text-center">
    <div class="padding">
      <img src="img/logo-black.png" class="logo-small" />
      <h2>Budgie</h2>
    </div>
    <div class="padding">
      <p>Welcome back old friend!</p>
    </div>
    <div class="padding">
      <form name="loginForm" id="login" ng-submit="doLogin(loginForm)" novalidate>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="email" ng-model="loginData.email" placeholder="Enter your email" email required>
          </label>
          <label class="item item-input">
            <input type="password" ng-model="loginData.password" placeholder="Enter your password" required>
          </label>
          <button class="button button-block button-calm button-outline" type="submit">Log in</button>
        </div>
      </form>
      <a href="" class="text-muted" type="submit" ng-click="goToWelcome()">Return to Sign Up</a>
    </div>
  </ion-content>
</ion-modal-view>
