<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content scroll="false" drag-content="false">
    <ion-nav-bar>
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <a href="#/app/settings/menu" class="button button-icon button-clear" ng-show="sideMenuVisible">
          <i class="ion-gear-a"></i>
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right" scroll="false" drag-content="false"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content scroll="false" drag-content="false">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/daily">
          <i class="ion-home"></i> Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/goals">
          <i class="ion-ribbon-b"></i> Goals
        </ion-item>
        <ion-item nav-clear menu-close href="" ng-click="doLogout()">
          <i class="ion-log-out"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
