<ion-view view-title="Record a Transaction">
  <ion-content>
    <form ng-submit="spendMoney()">
        <div class="list list-inset">
            <label class="item item-input" focus-after-load>
                <i class="icon ion-social-usd"></i>
                <input type="tel" id="spend" placeholder="00.00" ng-model="spend.amount" ui-number-mask="2" ui-hide-group-sep />
            </label>
        </div>
        <div class="padding">
            <input type="submit" class="button button-calm button-large button-outline button-block" value="Spend" />
        </div>
    </form>
  </ion-content>
</ion-view>
