.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #0000FF;
}

.arc {
    stroke-weight:0.1;
    fill: #3bd3dd;
}


.arc2 {
    stroke-weight:0.1;
    fill: #259dd9;
}


.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    font-weight: 100;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}

#goal .arc {
    fill: #eec60d;
}

#budget,
#goal {
    display: inline-block;
    height:130px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #eec60d;
    margin-top: -13px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.contribution {
    font-size: 56px;
    font-weight: 100;
}

.bucket-labels {
    font-weight:200;
}