<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.budgiebeta907929" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Budgie</name>
  <description>
        Budgie is the only app with a daily allowance that goes up every day instead of down.
    </description>
  <author email="gobudgie@gmail.com" href="http://gobudgie.me/">
      Budgie
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>