<ion-view view-title="">
  <ion-content class="settings change">
    <form ng-submit="updateSettings()">
        <div class="list list-inset">
            <label>Monthly Budget</label>
            <label class="item item-input">
                <i class="fa {{ settings.currency.icon }}"></i>
                <input type="tel" placeholder="00.00" ng-model="settings.monthlyBudget" ui-number-mask="settings.currency.decimalPlaces" ui-hide-group-sep />
            </label>
        </div>
        <div class="list list-inset">
            <label>Savings Goal</label>
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="Taylor Swift concert tickets" ng-model="settings.bucketName">
            </label>
        </div>
        <div class="list list-inset">
            <label>Amount Needed</label>
            <label class="item item-input">
                <i class="fa {{ settings.currency.icon }}"></i>
                <input type="tel" placeholder="00.00" ng-model="settings.bucketGoal" ui-number-mask="settings.currency.decimalPlaces" ui-hide-group-sep />
            </label>
        </div>
        <div class="padding">
            <input type="submit" class="button button-calm button-block button-outline" value="Save Settings" />
        </div>
    </form>
  </ion-content>
</ion-view>