<ion-view view-title="">
    <ion-content>
        <ion-list can-swipe="true">
            <ion-item ng-repeat-start="transactionsByDate in transactions.list | toArray" class="item-divider">
                {{ transactionsByDate.$key }}
            </ion-item>
            <ion-item ng-repeat="transaction in transactionsByDate | orderBy: '-whenRaw'">
            	{{ transaction.amountDisplay }}
            	<span class="pull-right" ng-show="transaction.label != 'No label'">{{ transaction.label | limitTo: 27 }}{{ transaction.label.length > 27 ? '...' : '' }}</span>
                <ion-option-button class="button-assertive" ng-click="removeTransaction(transactionsByDate.$key, $index)">Remove</ion-option-button>
            </ion-item>
            <ion-item ng-repeat-end></ion-item>
        </ion-list>
    </ion-content>
</ion-view>