/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000;
    perspective: 1000;
}
    /* flip the pane when hovered */
    .flip-container.flip .flipper {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }

.flip-container, .front, .back {
    width: 100%;
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.6s;
    transition: 0.6s;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 100% 43.5px;
    transform-origin: 100% 43.5px;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;

    height: 87px;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

h2 {
    font-family: 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}