// In seconds
$radial-animation-speed: 1;
$radial-animation-inner-delay: 0; //$radial-animation-speed;
$radial-animation-inner-two-delay: 0; //$radial-animation-speed * 2;

.radial {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;

    .inner {
        position: absolute;
        top: 20px;
        left: 20px;

        &.two {
            top: 30px;
            left: 30px;

            circle {
                transition-delay: #{$radial-animation-inner-two-delay}s;
            }
        }

        circle {
            transition-delay: #{$radial-animation-inner-delay}s;
        }
    }

    circle {
        transition: stroke-dashoffset #{$radial-animation-speed}s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        ion-view[nav-view="entering"] & {
            transition: none;
        }
    }

    &.nodelay {
        circle {
            transition-delay: 0s!important;
        }
    }

    &.inversedelay {
        circle {
            transition-delay: #{$radial-animation-inner-two-delay}s;
        }

        .inner {
            circle {
                transition-delay: #{$radial-animation-inner-delay}s;
            }

            &.two circle {
                transition-delay: 0s;
            }
        }
    }

    &.noanim {
        circle {
            transition: none!important;
        }
    }

    label {
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        width: 125px;
        font-size: 32px;
        text-align: center;

        &.daily {
            top: 106px;
            font-size: 16px;
            font-weight: 100;
        }
    }

    &.small {
        width: 125px;
        height: 125px;

        .inner {
            top: 15px;
            left: 15px;

            &.two {
                top: 20px;
                left: 20px;
            }
        }

        label {
            font-size: 18px;
            top: 50px;
        }
    }
}