<ion-view view-title="">
  <ion-content scroll="false" drag-content="false" class="text-center">
    <div class="padding">
      <img src="img/logo-black.png" class="logo" />
      <h2>Budgie</h2>
    </div>
    <div class="padding">
      <p>Budgie tells you how much money you can spend each day. Anything left unspent carries over to the next day! Bwraaaak!</p>
    </div>
    <div class="padding">
      <input type="submit" class="button button-calm button-block" ng-click="beginWelcome()" value="Start Saving" />
      <a href="" class="text-muted" ng-click="skipWelcome()">Already a member?</a>
    </div>
    <div class="padding">
      <span class="text-muted">By using Budgie you're gonna have yourself a good time.</span>
    </div>
    </form>
  </ion-content>
</ion-view>
