<ion-view view-title="Welcome to Budgie">
  <ion-content>
    <div class="padding">
      <p>Budgie lets you know how much money you can spend each day. Anything left unspent carries over to the next day! Bwraaaak!</p>
    </div>
    <div class="padding-left padding-right">
      <p>What does your currency look like?</p>
    </div>
    <div class="row">
      <div class="button-bar">
        <a class="button button-calm button-outline" ng-repeat="currency in welcome.currencies" ng-class="{ 'active': welcome.selectedCurrency == currency.currency }" ng-click="welcome.selectedCurrency = currency.currency; changeCurrency(currency.currency);"><i class="fa {{ currency.icon }}"></i></a>
      </div>
    </div>
    <div class="padding-top padding-left padding-right">
      <p>On average, I want my monthly budget to be…</p>
    </div>
    <form name="welcomeForm">
    <div class="row">
      <div class="button-bar" ng-init="welcome.spendingHabits = welcome.moderate">
        <a class="button button-calm button-outline" ng-class="{ 'active': welcome.spendingHabits == welcome.frugal }" ng-click="welcome.spendingHabits = welcome.frugal">{{ welcome.frugalFormatted }}</a>
        <a class="button button-calm button-outline" ng-class="{ 'active': welcome.spendingHabits == welcome.moderate }" ng-click="welcome.spendingHabits = welcome.moderate">{{ welcome.moderateFormatted }}</a>
        <a class="button button-calm button-outline" ng-class="{ 'active': welcome.spendingHabits == welcome.lavish }" ng-click="welcome.spendingHabits = welcome.lavish">{{ welcome.lavishFormatted }}</a>
      </div>
    </div>
    <div class="padding text-center">
      <button class="button button-small button-light button-outline" ng-click="welcome.customToggle = !welcome.customToggle; welcome.customBudgetAmount = ''">
        Custom
      </button>
    </div>
    <div class="padding">
      <div ng-show="welcome.customToggle">
        <label class="item item-input">
            <i class="fa {{ welcome.currency.icon }}"></i>
            <input type="tel" id="spend" placeholder="{{ welcome.currency.placeholder }}" ng-model="welcome.customBudgetAmount" ui-number-mask="welcome.currency.decimalPlaces" ui-hide-group-sep />
        </label>
      </div>
    </div>
    <div class="padding" ng-show="welcome.monthlyToDailyDisplay">
      This means you'll have <strong>{{ welcome.monthlyToDailyDisplay }}</strong> per day.
    </div>
    <div class="padding">
      <input type="submit" class="button button-calm button-block button-outline" ng-click="processSetupForm(welcomeForm)" value="Continue Setup"/>
      <input type="submit" class="button button-block button-outline" ng-click="skipWelcome()" value="Already a member?" />
    </div>
    </form>
  </ion-content>
</ion-view>
