<ion-view view-title="Set a goal">
  <ion-content scroll="false" drag-content="false">
    <div class="padding">
        Budgie also helps you set your money aside when you’ve got a positive balance. Think of this feature as a piggy bank!
    </div>
    <div class="padding">
        What I really want to save for is…
    </div>
    <div class="padding-horizontal">
        <label class="item item-input">
            <input type="text" class="form-control" placeholder="Taylor Swift concert tickets" ng-model="welcome.bucketTitle" />
        </label>
    </div>
    <div class="padding">
        It would probably cost about...
    </div>
    <div class="padding-horizontal">
        <label class="item item-input">
            <i class="fa {{ welcome.currency.icon }}"></i>
            <input type="tel" id="spend" placeholder="{{ welcome.currency.placeholder }}" ng-model="welcome.bucketGoal" ui-number-mask="welcome.currency.decimalPlaces" ui-hide-group-sep />
        </label>
    </div>
    <div class="padding"></div>
    <div class="padding-horizontal">
      <input type="submit" class="button button-calm button-block button-outline" ng-click="processGoalForm()" value="One more step"/>
    </div>
  </ion-content>
</ion-view>
