<ion-view view-title="Last step">
  <ion-content>
    <div class="padding-top padding-right padding-left">
        We hope you enjoy saving with Budgie as much as we do. The other day, Budgie saved me from ordering Pizza again. Thanks Budgie. 
    </div>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="email" name="username" placeholder="Email address" ng-model="welcome.username" />
        </label>
        <label class="item item-input">
            <input type="password" name="password" placeholder="Password" ng-model="welcome.password" />
        </label>
    </div>
    <div class="padding-horizontal">
      <input type="submit" class="button button-calm button-block button-outline" ng-click="processSignupForm()" value="Start Saving"/>
    </div>
  </ion-content>
</ion-view>
